@import "https://code.highcharts.com/css/highcharts.css";

html {
  scroll-behavior: smooth;
  background-color: #fafaef;
  border: 10px #c8ebb4;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(#fafaef, #c8ebb4);
  background-size: 10px 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.landing {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background_landing.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

header {
  position: absolute;
  top: 0px;
  width: 100vw;
  margin: 0;
  z-index: 1;
}

#header-logo {
  display: block;
  height: auto;
  max-width: 24em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 0em;
}

footer {
  width: 100vw;
  height: auto;
  margin: 1;
  height: 12em;
  text-align: center;
  border-top: 10px solid #c8ebb4;
  background-color: #fafaef;
}

#footer-logo {
  display: block;
  height: auto;
  height: 8em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4.25em;
  margin-bottom: 1em;
  background-color: #fafaef;
}

#carbon-form {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 80vw 1fr;
}

h2,
#submitbutton {
  font-family: "Dosis", sans-serif;
  font-size: 2.6em;
  text-transform: uppercase;
}

h3 {
  font-family: "Dosis", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
}

#form-button {
  margin-left: auto;
  margin-right: auto;
  min-height: 20vh;
  margin-top: 40vh;
  margin-bottom: 40vh;
  background-color: #fafaef;
  text-align: center;
  width: 27em;
  padding: 1em;
  transition: 0.3s;
  box-shadow: 5px 5px darkgrey;
}

.button:hover {
  -webkit-filter: brightness(80%);
}

.selectcontainer {
  grid-column: 2 / span 1;

  background-color: #c8ebb4;
  margin-top: 30vh;
  margin-bottom: 30vh;
  min-height: 40vh;

  border: none;
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
  padding-top: 0.5em;
}

.selectcontainer h2 {
  width: 100%;
}

.radiolabel {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
  height: 6em;
  width: 6em;
  font-family: "Dosis", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  padding: 1em;
  margin: 0.5em;
  transition: 0.3s;
  background-color: #a8d991;
}

.radioimage {
  width: 4em;
  height: auto;
}

.selectcontainer input {
  position: absolute;
  left: -9999px;
}

.radiolabel:hover {
  -webkit-filter: brightness(80%);
}

input:checked + label {
  background-color: #f2ab27;
  transition: 0.3s;
}

.distancecontainer {
  grid-column: 2 / span 1;

  background-color: #c8ebb4;
  margin-top: 30vh;
  margin-bottom: 30vh;
  min-height: 40vh;

  border: none;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
  padding-top: 0.5em;
}

input[type="number"] {
  padding: 0.5em;
  text-align: center;
  height: 2em;
  font-size: 1.2em;
  color: black;
}

#submitbutton {
  border: none;
  padding: 1em;
  text-align: center;
  font-size: 1.4em;
  color: black;
  background-color: #a8d991;
  transition: 0.3s;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="submit"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#result-total {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.hexagon {
  padding: 2em;
  color: white;
  max-width: 20em;
  margin: 3em;
}

.hexagon h3 {
  text-align: center;
  padding: 0;
}

.info-card {
  width: 100%;
  height: 12em;
  padding-top: 2.6em;
  text-align: center;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.info-card h2 {
  font-size: 3.6em;
}

.hexagon a {
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

#co2-result {
  background-color: #730202;
}

#tree-result {
  background-color: #325947;
}

#sc-result {
  background-color: #f2ab27;
}

#alternatives {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 10em;
  width: 95vw;
  z-index: 1;
}

.highcharts-color-1 .highcharts-point {
  fill: #434348;
  stroke: none;
}

.highcharts-point {
  fill: #99d47f;
}

.highcharts-color-0 {
  fill: #99d47f;
  stroke: none;
}
.highcharts-background {
  fill: #f2f0eb30;
}

.highcharts-root {
  border: 3px solid #c8ebb4;
  font-family: "Open Sans", sans-serif;
  border-bottom: 3px;
  border-right: 3px;
}

#references {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2.3em;
  font-weight: bold;
}

footer p {
  padding-bottom: 2em;
}
