html {
  scroll-behavior: smooth;
  background-color: #fafaef;
  border: 10px #c8ebb4;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(#c8ebb4, #c8ebb4);
  background-size: 10px 100%;
  background-repeat: no-repeat;
  background-position: center center;
}


header {
  position: absolute;
  top: 0px;
  width: 100vw;
  margin: 0;
  background-color: #fafaef;
  z-index: 1;
}

#header-logo {
  display: block;
  height: auto;
  max-width:22em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 0em;
}

footer {
  background-color: #fafaef;
  width: 100vw;
  height: auto;
  margin: 0;
  z-index: 1;
  height: 10em;
  text-align: center;
}

#footer-logo {
  display: block;
  height: auto;
  max-width:6em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  margin-bottom: 0.5em;
}


#carbon-form {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 80vw 1fr;
}

h2, #submitbutton{
  font-family: "Dosis", sans-serif;
  font-size: 2.6em;
  text-transform: uppercase;
}

#form-button{
  margin-left: auto;
  margin-right: auto;
  min-height: 20vh;
  margin-top: 40vh;
  margin-bottom: 40vh;
  background-color: #c8ebb4;
  text-align: center;
  width: 27em;
  padding: 1em;
  transition: 0.3s;
}

.button:hover{
  -webkit-filter: brightness(80%);
}

.selectcontainer {
  grid-column: 2/ span 1;

  background-color: #c8ebb4;
  margin-top: 30vh;
  margin-bottom: 30vh;
  min-height: 40vh;

  border: none;
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
  padding-top: 0.5em;
}

.selectcontainer h2 {
  width: 100%;
}

.radiolabel {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
  height: 6em;
  width: 6em;
  font-family: "Dosis", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  padding: 1em;
  margin: 0.5em;
  transition: 0.3s;
  background-color: #A8D991;
}

.radioimage{
  width: 4em;
  height: auto;
}

.selectcontainer input {
  position: absolute;
  left: -9999px;
}

.radiolabel:hover {
  -webkit-filter: brightness(80%);
}

input:checked + label{
  background-color: #f2ab27;
  transition: 0.3s;
}

.distancecontainer {
  grid-column: 2/ span 1;

  background-color: #c8ebb4;
  margin-top: 30vh;
  margin-bottom: 30vh;
  min-height: 40vh;

  border: none;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
  padding-top: 0.5em;
}

input[type=number]{
  padding: 0.5em;
  text-align: center;
  height: 2em;
  font-size: 1.2em;
  color: black;
}

#submitbutton{
  border: none;
  padding: 1em;
  text-align: center;
  font-size: 1.4em;
  color: black;
  background-color: #A8D991;
  transition: 0.3s;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=submit]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#result-total {
  margin-top: 3em;
  display: flex wrap;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  box-sizing: content-box;
}

#co2-result {
  box-sizing: content-box;
  color: white;
  background-color: #d94d1a;
  font-family: "Dosis", sans-serif;
  width: 250px;
}

#tree-result {
  box-sizing: content-box;
  color: white;
  font-family: "Dosis", sans-serif;
  background-color: #325947;
  width: 250px;
}

#sc-result {
  box-sizing: content-box;
  color: white;
  background-color: #f2ab27;
  font-family: "Dosis", sans-serif;
  width: 250px;
}
